body {
	background: black;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	transition: background 3s;
}

.main {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid white;
}

.tempBox {
  margin: 20px 0px 40px;
}

#moreDetes {
	padding: 30px 0px;
  border-top: 1px solid white;
}

#locationName {
		font-size: 20px;
		border-bottom: 1px solid white;
    padding: 30px 0px;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: 100;
}

#currentTemp {
	font-size: 150px;
	font-weight: 100;
}

#weatherIcon {
	font-size: 100px;
  margin-right: 30px;
}

#temp_max, #temp_min {
	font-size: 35px;
	display:inline-block;
	margin: 0px 10px;
}

#temp_max {
	font-weight: bold;
}

#description {
	text-transform: uppercase;
	margin-bottom: 10px;
}


/* Background colors */

.darkGrey {
	background: darkgrey;
}

.sadBlue {
	background: #1b3654;
}

.gentleRain {
	background: #5d89a5;
}

.bleakWasteland {
	background: #bbc4ca;
}

.cantSee {
	background: #7d7d7d;
}

.sunny {
	background: #42c1e2;
}

.partlyCloudy {
	background: #669abb;
}

.cloudy {
	background: #9cafbb;
}
